:root {
  --font-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  --font-heading: Calibre, var(--font-base);
  --color-delete: rgb(255, 59, 48);

  --color-border: rgba(0,0,0,0.1);

  --color-base: #000;
  --color-background: #fff;
  --color-yellow: rgb(255, 204, 0);

  --color-green: rgb(52, 199, 89);

  --color-primary: var(--color-yellow);

  --color-code: rgba(0, 122, 255, 0.4);

}

html.dark {
  --color-border: rgba(255,255,255, 0.1);
  --color-base: #fff;
  --color-background: #000;
  --color-delete: rgb(255, 69, 58);
  --color-yellow: rgb(255, 214, 10);
  --color-green: #30d158;

}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  color: var(--color-base);
  background-color: var(--color-background);
  width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-base);
}

h1,
h2,
h3,
h4 {
  a {
    text-decoration: none;
  }
}


a,
a:visited,
a:focus {
  color: inherit;
}

.App {
  width: 600px;
  max-width: 100%;
  padding: 0 16px;
  margin: 64px auto;
  position: relative;
}

.list-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
}

.list__back {
  font-size: 14px;
  font-family: var(--font-base);
  font-weight: normal;
  cursor: pointer;
  position: absolute;
  top: -24px;
  display: flex;
  align-items: center;
  svg {
    margin-right: 8px;
  }
}
.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);
  margin: 0;
}
.list-item__title,
.list-title__item {
  flex-grow: 1;
  padding: 24px 0;
}
@mixin link-button() {
  color: var(--color-base);
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	display: inline;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
	text-decoration: underline;
	text-transform: none;
	vertical-align: baseline;
  white-space: pre;
	background: transparent;
	&:hover,
	&:focus,
	&:active {
		background: transparent;
	}
}

.button {
  @include link-button();
  font-size: 14px;
  font-family: var(--font-base);
  cursor: pointer;
}




.progress-badge {
  font-size: 10px;
  font-family: var(--font-base);
  font-weight: normal;
  background-color: var(--color-yellow);
  margin-left: 16px;
  padding: 4px 8px;
  border-radius: 100px;
  top: -2px;
  position: relative;
  .dark & {
    color: var(--color-background)
  }
}

.progress-badge__all-done {
  background-color: var(--color-green);
}

.button--dark-mode {
  text-decoration: none;
  position: absolute;
  right: 0;
  top: -30px;
  font-size: 24px;
}


.button-group {
  display: flex;
  align-items: center;
}

.forme-errors {
  flex-basis: 100%;
}

.todo-heading {
  font-size: 20px;
  margin-top: 32px;
}

.layout {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.layout--inline {
  flex-direction: row;
  > * {
    margin-right: 8px !important;
    &:last-child {
      margin-right: 0 !important;
    }
  }
}